@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,400;1,700&family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: "DM Sans";
    margin: 0%;
    padding: 0%;
}

header{
    
    padding:1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;

}

header ul{
    display: flex;
    list-style: none;
    gap:3rem
   
}

header ul li{

}

header a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}
header a:hover{
   
    opacity: 0.1;
}


header button{
    padding: 0.7rem 2rem;
    border: 2px solid black;
    background-color: black;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

header button:hover{
    background-color: grey;
    color: black;
}

hero{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 650px;
}

hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col1{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:center ;
    
}


.center-content{

 
 width: 70%;

}
.col1 h1{
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.col1 p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    opacity: 0.6;
    color: rgb(255, 255, 255);
}

.col1 a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.invite-link{
    display:flex;
    gap: 1rem;
    align-items: center;
   
}

.invite-link a:hover{
  border-bottom: 1px solid white;
}

.invite-link a{
    text-decoration: none;
}

.mid-section{
    display: grid;
    grid-template-columns: 1.3fr 1fr;

}

.mid-section .col2{
    display: flex;
    justify-content: center;
    align-items:center ;
   
}

.mid-section h1{
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.mid-section .center-content{
   
    
    width: 70%;
   
   }

   .mid-section img{
    width: 100%;
    object-fit: cover;
   }

   .mid-section a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
   }

   .mid-section a:hover{
       border-bottom: 1px solid black;
   }

   .section2{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
   }

   .section2 .col1{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #fff;
   }

   .section2 .col1 .center-content{
    margin-top: 0rem;
   }

   .section2 img{
    width: 100%;
   }

   .section2 h1{
    color: black;
   }

   .section2 p{
    color: black;
   }

   .section2 a:hover{
    border-bottom: 1px solid black;
}

.section2 a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.section3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
}

.section3>div{
    display: flex;
    align-items: flex-end;
    height: 500px;
  
}
   
.section3 .img-text{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 100%;
    
}


.box1{
    background-image: url("/assets/stories/desktop/mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.box2{
    background-image:url("/assets/stories/desktop/cityscapes.jpg");
        background-size: cover;
}

.box3{
    background-image: url("/assets/stories/desktop/18-days-voyage.jpg");
        background-size: cover;
}

.box4{
    background-image: url("/assets/stories/desktop/architecturals.jpg");
        background-size: cover;
}

.hover{
    position: relative;
    transition: margin-top 255ms ease-in-out;
}
.hover:hover{
    margin-top: -4%;
}
.hover:hover::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(1deg, rgb(255, 198, 148) 0%, rgb(188, 113, 152) 50%, rgb(87, 118, 255) 90%);
    height: 6px;
    width: 100%;
}



.line{
    width:100%;
    height: 1px;
    margin-top: 1.3rem;
    background-color: grey;
}

.section3 .invite-link{
    justify-content: space-between;
    padding-top: 1rem;
}

.section3 a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.section3 h3, .section3 p{
    color: #fff;
    margin-top: 0%;
    margin-bottom: 1%;
    
}

.section3 h3{
 text-transform: capitalize;
}

.section4{
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
   
}
.section4>div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.section4 h3{
    font-weight: 700;
}

.section4 p{
    font-weight: 400;
    color:grey;
    text-align: center;
}

footer{
    background-color:black;
    padding:3rem 5rem;
    display: flex; 
    justify-content: space-between;
}

footer .left-section{
    display:flex;
    gap:5rem;
}

footer .left-section-item1{
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

footer .icons{
    display: flex;
    justify-content: space-evenly;
}

.footer-links{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.footer-links a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

footer .invite-link a{
  color: #fff;
}

.mid-section .center-content{
   
}

footer p{
    color: grey;
    margin-top: 4rem;
}

.footer-links1{
    display: none;
}

@media  screen and (max-width:919px) {
    .section3{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .section4{
        flex-direction: column;
        padding: 4rem 5rem;
    }
    .section4 p{
        text-align: center;
    }
}



@media screen and (max-width:815px) {
    
    hero{
        display:flex;
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }

    hero img{
        height: 100%;
        object-fit: contain;

    }

    hero .col1 h1{
        font-size: 2rem;
    }
    
    .mid-section{
        flex-direction: column;
        display: flex;
    }

    .mid-section img{
        height: 100%;
        object-fit: cover;

    }

    .section2{
        flex-direction: column-reverse;
        display: flex;
    }

    .section3{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(4,1fr);
    }

    .box1{
        background-image: url("/assets/stories/mobile/mountains.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .box2{
        background-image:url("/assets/stories/mobile/cityscapes.jpg");
            background-size: cover;
    }
    
    .box3{
        background-image: url("/assets/stories/mobile/18-days-voyage.jpg");
            background-size: cover;
    }
    
    .box4{
        background-image: url("/assets/stories/mobile/architecturals.jpg");
            background-size: cover;
    }

    footer{
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .footer-links{
        display: none;
    }

    .footer-links1{
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        margin:2rem 0;

    }

    footer .invite-link{
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    
    .footer-links1 a{
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }
}


.none{
    display: none !important;
}

.visible{
    display: flex;
}

.hamburger-lines{
    height: 2px;
    background-color: grey;
    width: 1.7rem;

}


.hamburger-list a{
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
}

.hamburger{
display: none;
}

.close{
    font-size: 1.4rem;
}
.hamburger-list{
    
    flex-direction: column;
    gap:0.7rem;
    padding:2rem 3rem;
    align-items: center;
    position: sticky;
    top:65px;
    z-index: 1001;
    background-color: #fff;
}

.hamburger-list button{
    width:80%;
    border: 2px solid black;
    background-color: black;
    height: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

.mobile-img{
  display: none;
}


@media screen and (max-width: 804px) {
    .header-link{
        display: none;
    }
    header{
        justify-content: space-between;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        gap:0.4rem;
    }

    .desktop-img{
        display: none;
    }

    .mobile-img{
        display:block;
    }
  
}


/* STORIES CSS */

.top-story{
    background-image: url("/assets/stories/desktop/moon-of-appalacia.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    height:85vh;
}

.top-story div{
    min-width:20rem;
    width: 80%;
}

@media screen and (max-width:415px){
    .top-story{
        padding-left: 1rem;
    }

    .top-story div{
        min-width: none;
    }

    main{
        grid-template-columns: unset;
        grid-auto-rows: 1fr;
    }
}

.top-story h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0;
}

 .grey{
    color:grey;
}

.top-story h3:nth-child(3){
    font-size: 1rem;
}
.top-story h3:nth-child(1){
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
}

.top-story p{
    color: gray;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
}

.top-story a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

}

main>div{
    height: 24rem;
    display: flex;
    align-items: flex-end;
    padding: 0 2rem;
    
}

main .img-text{
    width: 100%;
    margin-bottom: 1rem;
}
main .img-text .invite-link{
    justify-content: space-between;
    margin-top: 1rem;
}

main .invite-link a{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
}

main h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0rem;
    margin-top: 0;
    text-transform: capitalize;
}

main p{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

main p:nth-child(1){
    margin-bottom: 0rem;
}

.box5{
    background-image: url("assets/stories/desktop/world-tour.jpg");
    background-size: cover;
}

.box6{
    background-image: url("assets/stories/desktop/unforeseen-corners.jpg");
    background-size: cover;
}

.box7{
    background-image: url("assets/stories/desktop/king-on-africa.jpg");
    background-size: cover;
}

.box8{
    background-image: url("assets/stories/desktop/trip-to-nowhere.jpg");
    background-size: cover;
}

.box9{
    background-image: url("assets/stories/desktop/rage-of-the-sea.jpg");
    background-size: cover;
}

.box10{
    background-image: url("assets/stories/desktop/running-free.jpg");
    background-size: cover;
}

.box11{
    background-image: url("assets/stories/desktop/behind-the-waves.jpg");
    background-size: cover;
}

.box12{
    background-image: url("assets/stories/desktop/calm-waters.jpg");
    background-size: cover;
}

.box13{
    background-image: url("assets/stories/desktop/milky-way.jpg");
    background-size: cover;
}

.box14{
    background-image: url("assets/stories/desktop/dark-forest.jpg");
    background-size: cover;
}

.box15{
    background-image: url("assets/stories/desktop/somwarpet.jpg");
    background-size: cover;
}

.box16{
    background-image: url("assets/stories/desktop/land-of-dreams.jpg");
    background-size: cover;
}

/* Fetaures page css */
.section4-feature{
 display: grid;
 margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap:1rem;
}

@media screen and (max-width: 415px) {
    .section4-feature{
        grid-template-columns: none;
        grid-auto-rows: 1fr;
    }
}

.section4-feature>div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.section4-feature h3{
    font-weight: 700;
}

.section4-feature p{
    font-weight: 400;
    color:grey;
    text-align: center;
}


/* Pricing css*/

.pricing-plan{
    display:flex;
    justify-content: center;
    margin:4rem 0.5rem;
    flex-direction: column;
}

.pricing-plan .pr p{
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
}

.pricing-plan .pr{
    display: flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
}

.price-selector{
    background-color: rgba(191, 191, 191, 0.562);
    width:3.7rem;
    height: 1.8rem;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 2px;
    position: relative;
  
}
.oval{
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    height: 100%;
    width: 50%;
    border-radius: 50%;
    transition: transform 255ms ease-in-out;
}

.move{
    transform: translateX(100%);
}

.pricing-categories{
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    gap:1.5rem;
}

.pricing-categories:nth-child(1){
    border: 2px solid rgb(59, 186, 59);
}

.pricing-categories>div{
    display: flex;
    max-width: 18rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22rem;
    padding: 2rem;
   
}

.pricing-categories>div:nth-child(2n+1){
    background-color:rgb(245, 245, 245);
    
}

.pricing-categories>div:nth-child(2n){
    background-color: black;
}

.pricing-categories>div:nth-child(even) h2{
    color:#fff;
    font-weight: 700;
}

.pricing-categories>div:nth-child(even) h1{
    color:#fff;
    font-weight: 700;
}

.pricing-categories h1{
    font-size: 2.3rem;
}
.pricing-categories p{
    color:grey;
    font-weight:700;
    font-size: 1.1rem;
}

.pricing-categories>div:nth-child(2n+1) button{
    background-color: black;
    color:#fff;
}

.pricing-categories>div:nth-child(2n) button{
    background-color: #fff;
    color:black;
    
}

.pricing-categories>div:nth-child(2n+1) button:hover{
    background-color:gray;
}

.pricing-categories>div:nth-child(2n) button:hover{
    opacity: 0.6;
}
.pricing-categories>div button{
    width:16rem;
    height:3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.pricing-categories div:nth-child(2){
    height:25rem;
    position: relative;
}

.pricing-categories div:nth-child(2n+1){
    margin-top: 1.5rem;
}

.pricing-categories div:nth-child(2)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    display: block;
    background: linear-gradient(1deg, rgb(255, 198, 148) 0%, rgb(188, 113, 152) 50%, rgb(87, 118, 255) 90%);
    
}

@media screen and (max-width:1031px) {

    .pricing-categories{
        flex-direction: column;
        gap:1rem;
    }
    .pricing-categories>div{
        display: flex;
        max-width: none;
        flex-direction: column;
        align-items: none;
        justify-content: none;
        height: auto;
        padding: 2rem;
        
    }

    .pricing-categories div:nth-child(2){
        height:auto;
        position: relative;
    }

}