<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BizLand Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/landing_style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: BizLand - v3.8.1
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

 

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo">
        <a href="index.html">
          <img src="../images/Copy of Truckly Logo.jpeg" alt="">
        </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="../assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link nav-new-link  scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link nav-new-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link nav-new-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link nav-new-link scrollto" href="#whyTruckly">Why Truckly</a></li>
          <li><a class="nav-link nav-new-link scrollto " href="#book">Book</a></li>
          <li><a class="nav-link nav-new-link scrollto" href="#join">Join</a></li>
          <li><a class="nav-link nav-new-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link nav-new-link scrollto" href="#owner">Owner</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="">

   <div class="add-background-image container hero-box d-flex flex-column align-items-start justify-content-center" data-aos="zoom-out" data-aos-delay="100">
     
      <h1 style="font-family: Montserrat, sans-serif;
      font-size: 3rem;">NEED A TRUCK?</h1>
      <div class="hero-sub-text">

        <h2 class="text-dark fw-bold"
        style="font-family: Montserrat, sans-serif;
        margin-top: 5%;
        font-size: 1.3rem;">
          Your Digital Truck Network</h2>
          </div> 
        <div class="d-flex">
          <a href="#" class="btn-get-started scrollto">Get a Truck</a>
           </div>
    </div>

    
<div class="new-bg-image">

</div>
   
  </section><!-- End Hero -->

  <main id="main">

    
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Who Are We?</h3>
          <h4 style="margin-top: 3%;
          font-family: 'Montserrat', sans-serif;
          font-weight: 530;"
          >"Everything is moved on the back of a truck"</h4>
          <p>

            Truck booking platform for transporting large and bulky items. Place a booking and we will help you get an instant match with a truck fit for your needs         </p>
          <p>
            At Truckly, We digitize traditional truck brokerage and alleviate the pains that are plaguing a low-tech industry. Wether you are moving your home/office or moving your business shipments, we offer customers access to our connected network of thousands of trucks. A variety for every need.         </p>
        </div>

  

      </div>
    </section><!-- End About Section -->


    <!--  Services -->

      <!-- =======Services Section ======= -->
      <section id="services" class="team ">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h3>Services</h3>
            <div class="add-services">
              <ul>
                <li>
                  <img src="../images/Home.png" alt="">
                  <span>Home/Office</span>
                  </li>
                <li>
                  <img src="../images/Bulky.png" alt="">
                  <span>Large, Bulky Items</span></li>
                <li>
                  <img src="../images/Goods.png" alt=""> 
                  <span>Goods transport</span>  
                </li>
                <li>
                  <img src="../images/Raw.png" alt="">
                  <span>Raw materials</span>
                  </li>
                
              </ul>
            </div>
          </div>

        </div>
      </section><!-- End Owner Section -->


     <!-- ======= Why Truckly Section ======= -->

     <!--
      Dark Blue: #1c2a57
Yellow: #ffde00
White: #ffffff
-->
<section id="whyTruckly" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
     
      <h3>Why Truckly</h3>
      <br/>
      </div>

    <div class="icon-boxes">
      <div class="" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon">
            <img src="../images/Expedited Delivery.png" alt="">
          </div>
          <h4><a href="">Instant Booking</a></h4>
          <p>Digital, frictionless, on-demand</p>
        </div>
      </div>

      <div class="" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon">
            <img src="../images/Long-Distance Moves.png" alt="">
          </div>
          <h4><a href="">Visibility</a></h4>
          <p>Tracking over shipments</p>
         </div>
      </div>

      <div class="" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon">
            <img src="../images/Safe and Reliable.png" alt="">
          </div>
          <h4><a href="">Reliability</a></h4>
          <p>Extensive Truck Network , accessible at all times!</p>
        </div>
      </div>
      <br/>


     

    </div>
    

  </div>
</section><!-- End Services Section -->

<!--Book Section-->
<section id="book" class="book">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
    
      <h3>Book with Truckly!</h3>
      </div>
      <a href="www.google.com" target="_blank" rel="noopener noreferrer">
        <button>Book</button>
      </a>
 
      <div class="method-box">

        <div class="method-boxes">
          <p>1. Pickup & Drop-off</p>
          <div class="plus">&#43</div>
        </div>
        <div class="content hidden">
          Select or pin your corresponding pickup and drop-off locations
        
        </div>
        <div class="method-boxes">
           <p>  2. Booking Details </p>
          <div class="plus">&#43</div>
        </div>
        <div class="content hidden">
          Specify what kind of cargo you are moving, How you would like to play and any additional comments you may have
        
        </div>
        <div class="method-boxes">
           <p>  3. Confirm</p>
          <div class="plus">&#43</div>
        </div>
        <div class="content hidden">
          Validate your booking details
        </div>
        <div class="method-boxes">
           <p> 4. Connect with a truck </p>
          <div class="plus">&#43</div>
        </div>
        <div class="content hidden">
          After the booking is confirmed, the Truckly algorithm will review your details and instantly connect you to the right truck for the job. Track your truck at anytime.
        
        </div>
        <div class="method-boxes">
           <p>5. Rate & Review</p>
          <div class="plus">&#43</div>
        </div>
        <div class="content hidden">
          After your shipment is complete, rate your experience and let us know how we can improve our quality of work!</p>
  
        </div>
      </div>


    

    </div>


  
</section>
  

       <!--  Join Section -->
        <section id="join" class="join section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
        
          <h3>Want to Join the Truckly Network?</h3>
        </div>

        <div class="row form-cards">

         <div class="join-form">
          <h1>Truckly Carrier? </h1>
          <img src="../images/carrier_form_img.png" alt="">
          <p id="carrier-text">
            Are you a logistics business that owns a fleet? An indvidual that owns a truck? 
By becoming a Truckly carrier, we help keep your fleet or truck  moving by providing exclusive access to loads booked through the Truckly platform    </p>
          <div id="carrier-form" class="hide">


            <form>

            <fieldset>

        
              <label class="field">
                <span for="carrierName" name="carrierName" class="field__label">Name</span>
                <input type="text" name="carrierName" id="carrierName" placeholder="Name" onkeyup="checkCarrierName(this.value,'carrierName')">
            </label>

              <label class="field">
                <span for="company" name="company" class="field__label">Company</span>
                <input type="text" name="company" id="company" placeholder="Flat" onkeyup="checkCompany(this.value,'company')"/>
            </label>

            <label class="field">
              <span for="position" name="position" class="field__label">Position</span>
              <input type="text" name="position" id="position"  placeholder="Block" onkeyup="checkPosition(this.value,'position')"/>
          </label>

            

            <label class="field">
              <span for="carrieremail" name="carrierEmail" class="field__label">Email</span>
              <input type="email" name="carrierEmail" id="carrierEmail" placeholder="Email" onkeyup="checkEmail(this.value,'carrierrEmail')"/>
          </label>

          <label class="field">
            <span for="carrierPhone" name="carrierPhone" class="field__label">Phone</span>
            <input type="text" pattern="[+0-9]" name="carrierPhone" id="carrierPhone" placeholder="Phone" onkeyup="checkPhone(this.value,'carrierPhone')"/>
        </label>

         

             <button type="submit" class="action-button margin" id="send1" >SEND
              </button>  
              </fieldset>

            </form>
          </div>

          <button  class="action-button" id="join1">Join</button>
         </div>

         <div class="join-form">
          <h1>Truckly Shipper? </h1>
          <img src="../images/shipper_form_img.png" alt="">
          <p id="shipper-text">
            By becoming a Truckly Shipper, we give you exclusive access Truckly's Digital Truck Network.  We support your supply chain by providing the right truck for all your road freight and cargo needs.      </p>
          
            <div id="shipper-form" class="hide">

            <form>
              <fieldset>


                <label class="field">
                  <span for="shipperName" name="shipperName" class="field__label">Name</span>
                  <input type="text" name="shipperName" id="shipperName" placeholder="Name" onkeyup="checkshipperName(this.value,'shipperName')">
              </label>

              <label class="field">
                <span for="business" name="business" class="field__label">Business</span>
                <input type="text" name="business" id="business" placeholder="Business" onkeyup="checkbusiness(this.value,'business')"/>
            </label>
          
            <label class="field">
              <span for="shipperemail" name="shipperEmail" class="field__label">Email</span>
              <input type="email" name="shipperEmail" id="shipperEmail" placeholder="Email" onkeyup="checkEmail(this.value,'shipperEmail')"/>
          </label>

              <label class="field">
                <span for="shipperPhone" name="shipperPhone" class="field__label">Phone</span>
                <input type="text" pattern="[+0-9]" name="shipperPhone" id="shipperPhone" placeholder="Phone" onkeyup="checkPhone(this.value,'shipperPhone')"/>
            </label>

            
             <button type="submit" class="action-button margin" id="send2" >SEND
              </button>

              </fieldset>
            </form>
          </div>

          <button  class="action-button"
           id="join2">Join</button>
         </div>

        </div>
       

      </div>
    </section><!-- End Join Section -->

     <!-- ======= Contact Section ======= -->
     <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3><span>Contact Us</span></h3>
               </div>

        <div class="row contact" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3 col-md-6">
            <a href="https://goo.gl/maps/emnbYzk9acPfjdj67" target="_blank" rel="noopener noreferrer">
                   <div class="info-box  mb-4">
                <i class="bx"><iconify-icon icon="cil:location-pin"></iconify-icon></i>
                <h3>Our Address</h3>
                <p>Building 120, Road 3803, Block 338, The Collective Hub, Manama, Kingdom of Bahrain</p>
              </div>
            </a>
           
          </div>

          <div class="col-lg-3 col-md-6">
            <a href="mailto:info@Truckly.app">

              <div class="info-box  mb-4">
                <i class="bx" ><iconify-icon icon="bx:envelope"></iconify-icon></i>
                <h3>Email Us</h3>
                <p>info@Truckly.app</p>
              </div>
            </a>
          
          </div>

          

        </div>


      </div>
    </section><!-- End Contact Section -->

     <!-- =======Owner Section ======= -->
     <section id="owner" class="owner section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h1 class="text-primary">Founder</h1>
          <h3>Abdulla Y. Al Rayes </h3>
          <h5>❝the truck guy❞</h5> 
            
          <div class="owner-img">
           <img src="../images/Portrait.jpg" alt="">
          </div>
          <p>
            Land based logistics are the backbone of a healthy economy.</p>
          <p>We at Truckly have a vision to build the regions most interconnected road logistics network, facilitating the movements of all types of goods . We aim to 
            <span style="font-weight:bolder;
            color: #1c2a57;">"simplify, digitize and revolutionize"</span> the road transport industry.</p>
          
        </div>


      </div>
    </section><!-- End Owner Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

  
    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Bizland</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
 
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
  <script src="../scripts/join-form.js"></script>


</body>

</html>